<div class="container">
  <h1> Posts Index </h1>
  <p> Edifying Speeches </p>

  <% @all_posts_index.each do |post| %>
		<p> <a href="/post/<%= post.id %>"><%= post.title %></a> </p>
		<td><a href=<%= "/post/#{post.id}/delete"%> >DELETE</a></td>
	<% end %>
</div>

<!-- TODO: List out every post separately, connect to this list -->