<div class="container">
  <h1>Welcome to this blog, dear reader.</h1>
  <p>If you can read this in the browser then we know it's not broken. Yet.</p>
  <p> FOR YOUR PERSONAL EDIFICATION </p>
  <p><img src="http://buymelaughs.com/wp-content/uploads/2013/07/funny-dog-pictures-Collection-of-top-30-funny-dog-pictures-31.jpg" /><p>

  <table>
    <tr>
      <th><a href="/new_post"> New Posts </th>
      <th><a href="/posts"> All Posts </th>
      <th><a href="/index_page"> Index </th>
    </tr>
  </table>
</div>
