<div class="container">
  <h1>Pithy quotes from famous blokes.</h1>

  <table>
    <tr>
      <th><a href="/new_post"> New Posts </th>
      <th><a href="/posts"> All Posts </th>
      <th><a href="/index_page"> Index </th>
    </tr>
  </table>
</div>
